
.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 20px;
}

.skills-group h3 {
  color: var(--primary);
  font-size: 1.4rem;
  margin: 40px 0 20px 0;
  text-align: left;
  border-left: 4px solid var(--primary);
  padding-left: 15px;
}

.skill-card {
  background: var(--glass);
  border: 1px solid var(--border-glass);
  padding: 30px 20px;
  border-radius: 20px;
  text-align: center;
  transition: var(--transition);
}

.skill-card:hover {
  background: #151515;
  border-color: var(--primary);
  transform: translateY(-8px);
}

.skill-card img { 
  width: 45px; 
  height: 45px; 
  margin-bottom: 15px;
  transition: var(--transition);
}

.skill-card:hover img { transform: scale(1.2) rotate(5deg); }

/* skills.css mobile */
@media (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(4, 1fr); /* Força 3 cards por linha */
    gap: 10px;
  }

  .skill-card {
    padding: 15px 5px;
  }

  .skill-card span, .skill-card p {
    display: none;
  }

  .skill-card img {
    margin: auto;
    margin-bottom: 0;
    width: 35px;
    height: 35px;
  }
}